#define RES_SOUND_FILENAME_LEN 13

typedef struct SOUND_INFO_T{
CHAR filename[RES_SOUND_FILENAME_LEN];
BYTE type;
}SOUND_INFO, *PSOUND_INFO;

static const SOUND_INFO soundsInfo[RES_SOUND_COUNT] = 
{
{"SOUND_ONLINE", MR_SOUND_MIDI},
};
